# CSE 2050 Homework 1

## Question 1

In [94]:
employees = ["Willena Shupe", "Jolanda Agin", "Leta Stacker", "Leonora Oliverio", "Birgit Stoudt", "Aron Valtierra", "Vi Buschman"]
salaries2021 = ["$102,633", "$82,012", "$129,860", "$48,949", "$55,208", "$95,600", "$40,030"]
salaries2022 = ["$105,711.99", "$86,932.72", "$133,755.80", "$54,822.88", "$59,624.64", "$100,380.00", "$43,632.70"]
print('{:24}{:15}{:16}{}'.format('Employee','2021 Salary','2022 Salary','% Increase'))
print('-'*65)
count = 0
for salary in salaries2021 :
    salary = salary.replace("$", '')
    salary = salary.replace(",", '')
    salary = int(salary)
    salaries2021[count] = salary
    count += 1
count = 0
for salary in salaries2022 :
    salary = salary.replace("$", '')
    salary = salary.replace(",", '')
    salary = float(salary)
    salary = round(salary)
    salary = int(salary)
    salaries2022[count] = salary
    count += 1
count = 0
for employee in employees :
    increase = ((salaries2022[count] / salaries2021[count]) * 100) - 100
    print('{:20}{:14,}{:16,}{:14.1f}%'.format(employee, salaries2021[count], salaries2022[count], increase))
    count += 1
print('-'*65)
print('{:20}{:14,}{:16,}'.format("Total", sum(salaries2021), sum(salaries2022)))

Employee                2021 Salary    2022 Salary     % Increase
-----------------------------------------------------------------
Willena Shupe              102,633         105,712           3.0%
Jolanda Agin                82,012          86,933           6.0%
Leta Stacker               129,860         133,756           3.0%
Leonora Oliverio            48,949          54,823          12.0%
Birgit Stoudt               55,208          59,625           8.0%
Aron Valtierra              95,600         100,380           5.0%
Vi Buschman                 40,030          43,633           9.0%
-----------------------------------------------------------------
Total                      554,292         584,862

## Question 2

In [110]:
names = ["Willena Shupe", "Jolanda Agin", "Leta Stacker", "Leonora Oliverio", "Birgit Stoudt", "Aron Valtierra", "Vi Buschman", "Janee Barnwell", "Agnus Flower", "Byron Mccartney", "Victoria Crabill", "Amy Swinton", "Arla Mohamed", "Bryon Vester", "Lue Benway", "Mozelle Macauley", "Suzann Galindo", "Delicia Barriere", "Marcella Uyehara", "Jane Curley"]
years = [2020, 2019, 2016, 2019, 2013, 2014, 2014, 2018, 2016, 2012, 2014, 2015, 2018, 2013, 2019, 2017, 2019, 2020, 2015, 2013]
print(f'{"Student Name":24}{"Email Address"}')
count = 0
for name in names :
    splitname = name.split()
    firstname = splitname[0]
    lastname = splitname[1]
    print(f'{name:24}{firstname.lower():.1}{lastname.lower()}{years[count]}{"@my.fit.edu"}')
    count += 1

Student Name            Email Address
Willena Shupe           wshupe2020@my.fit.edu
Jolanda Agin            jagin2019@my.fit.edu
Leta Stacker            lstacker2016@my.fit.edu
Leonora Oliverio        loliverio2019@my.fit.edu
Birgit Stoudt           bstoudt2013@my.fit.edu
Aron Valtierra          avaltierra2014@my.fit.edu
Vi Buschman             vbuschman2014@my.fit.edu
Janee Barnwell          jbarnwell2018@my.fit.edu
Agnus Flower            aflower2016@my.fit.edu
Byron Mccartney         bmccartney2012@my.fit.edu
Victoria Crabill        vcrabill2014@my.fit.edu
Amy Swinton             aswinton2015@my.fit.edu
Arla Mohamed            amohamed2018@my.fit.edu
Bryon Vester            bvester2013@my.fit.edu
Lue Benway              lbenway2019@my.fit.edu
Mozelle Macauley        mmacauley2017@my.fit.edu
Suzann Galindo          sgalindo2019@my.fit.edu
Delicia Barriere        dbarriere2020@my.fit.edu
Marcella Uyehara        muyehara2015@my.fit.edu
Jane Curley             jcurley2013@my.fit.edu

## Question 3

In [124]:
apple_revenue = [365820, 274520, 260174, 265595, 229234, 215639, 233715, 182795, 170910, 156508, 108249, 65225, 42905, 37491, 24578, 19315, 13931]
print(f'{"Year":12}{"Revenue"}')
year = 2021
for revenue in apple_revenue :
    print(f'{year:<12}${revenue:12,.2f}')
    year -= 1

Year        Revenue
2021        $  365,820.00
2020        $  274,520.00
2019        $  260,174.00
2018        $  265,595.00
2017        $  229,234.00
2016        $  215,639.00
2015        $  233,715.00
2014        $  182,795.00
2013        $  170,910.00
2012        $  156,508.00
2011        $  108,249.00
2010        $   65,225.00
2009        $   42,905.00
2008        $   37,491.00
2007        $   24,578.00
2006        $   19,315.00
2005        $   13,931.00